/* 
CSS TABLE OF CONTENTS 

# GLOBAL
    # GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # GLOBAL RESETS
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY

# LAYOUT
    # MEDIA QUERIES (w/ RESPONSIVE TYPOGRAPHY)
    # CONTAINER
    # GRID

# CUSTOM STYLING
    # CUSTOM TYPE BLOCK/SPECIMEN

*/

/* ----------------------------- */
/* ----- GLOBAL STYLING -------- */
/* ----------------------------- */

/* SET GLOBAL VARIABLES */
:root {

    /* BASE COLORS */
    --color-body-background: rgb(255 255 255 / 1);
    --color-body-text: rgb(0 0 0 / .8);
    --color-headings: rgb(0 0 0 / 1);
    --color-links: rgb(51 102 204 / 1);
    --color-links-dark: rgb(0 51 153 / 1);
    --color-accent-color: rgb(102, 204, 124);

    /* BASE TYPOGRAPHY */
    --font-body: Helvetica, Arial, sans-serif;
    --font-headings: Georgia, sans-serif;

}

/* GLOBAL RESETS */
body { margin: 0; }
* { box-sizing: border-box; }


/* SET GLOBAL COLORS */
body {
    background: var(--color-body-background);
    color: var(--color-body-text);
}
h1, h2, h3 {
    color: var(--color-headings);
}
a {
    color: var(--color-links);
}
a:hover {
    color: var(--color-links-dark);
}

/* SET GLOBAL TYPOGRAPHY */
body {
    font-family: var(--font-body);
    line-height: 1.5;
}
h1, h2, h3 {
    font-family: var(--font-headings);
}
p {
    max-width: 60ch;
}

/* MEDIA QUERIES w/ RESPONSIVE TYPOGRAPHY */
body {
    font-size: 87.5%;
} 

@media (min-width:768px) {
    body {
        font-size: 100%;
    } 
}

@media (min-width:1250px) {
    body {
        font-size: 112.5%;
    } 
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* GRID SYSTEM */
.row {
    display: flex;
}

/* FOR DEMO GRID SYSTEM */
.demo .row {
    background: yellow;
    border: 1px solid green;
}

.demo .column {
    background: pink;
    border: 1px soild red;
}

.demo p {
    margin: 0;
}


/* ----------------------------- */
/* ----- CUSTOM STYLING -------- */
/* ----------------------------- */

/* CUSTOM TYPE BLOCK: HEADLINE AND SUB HEADLINE */
.headline {
    font-size: 4em;
    color: var(--color-accent-color);
    margin: 1rem 0;
    line-height: 1;
}
.subheadline {
    font-size: 2em;
    font-weight: normal;
    margin: 1rem 0;
}